<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="org.springframework.beans.factory.config.CustomEditorConfigurer">
        <property name="customEditors">
            <map>
                <entry key="com.liyuanshuo.editor.Car" value="com.liyuanshuo.editor.CustomCarEditor"/>
            </map>
        </property>
    </bean>

    <bean id="boss" class="com.liyuanshuo.editor.Boss">
        <property name="car" value="HongQICarBrand,200,2000.00"/>
        <property name="name" value="John"/>
    </bean>
</beans>